.el-button--primary{
    color: var(--el-button-text-color);
    border-color: var(--el-button-border-color);
    background-color: var(--el-button-bg-color);
    &:focus {
        color: var(--el-button-text-color);
        border-color: var(--el-button-border-color);
        background-color: var(--el-button-bg-color);
    }
    &:hover {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-hover-border-color);
        background-color: var(--el-button-hover-bg-color);
    }
    &:active {
        color: var(--el-button-text-color);
        border-color: var(--el-button-active-bg-color);
        background-color: var(--el-button-active-bg-color);
    }
}

.el-button--primary.is-plain {
    color: var(--el-color-primary);
    border-color: var(--el-button-border-color);
    background-color: var(--el-button-bg-color);
    &:focus {
        color: var(--el-color-primary);
        border-color: var(--el-button-border-color);
        background-color: var(--el-button-bg-color);
    }
    &:hover {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-hover-border-color);
        background-color: var(--el-button-hover-bg-color);
    }
    &:active {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-active-bg-color);
        background-color: var(--el-button-active-bg-color);
    }
}
